
<div class="card">
        <div class="card-header"><h1>Ajouter un nouvel utilisateur</h1></div>
        <div class="card-body">

                <form [formGroup]="usergroup" (ngSubmit)="adduser()" enctype="multipart/form-data">

                    <div class="form-group" >
                        <label for="firstname">Firstname</label>
                        <input type="text" class="form-control" id="firstname" formControlName="firstname">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="text" class="form-control" id="lastname" formControlName="lastname">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input type="text" class="form-control" id="login" formControlName="login">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                    </div>
                    <div class="form-group">
                            <label for="password">Avatar</label>
                            <input type="file" class="form-control" id="avatar" (change)="detectfile($event)" accept="image/*">
                        </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-success" [disabled]="usergroup.invalid">Add</button>
                    </div>
                </form>
        </div>
        <div class="card-footer"><em>assurez vous du bon remplissage de vos champs</em></div>
      </div>