
 <div class="row">
        <h1>Modification de utilisateur</h1>
    </div>
<form [formGroup]="usergroup" (ngSubmit)="updateuser()">

    <div class="form-group" >
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" id="firstname" formControlName="firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login" formControlName="login">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="form-group">
            <button type="button" routerLink="/user/list/2" class="btn btn-outline-secondary">Back</button>
            <button type="submit" class="btn btn-success" [disabled]="usergroup.invalid" >Update</button>
    </div>
</form>
